.button-container {
  display: flex;
  justify-content: center; 
}

ion-toolbar {
  position: relative;
  display: flex;
  align-items: center;
}

/* Container pour centrer le texte */
.title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
}

/* Style pour le texte */
.title-text {
  font-size: 1.2em; /* Ajustez si besoin */
}
ion-header, ion-toolbar {
  height: var(--header-height);
  min-height: var(--header-height);
}