<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Texte centré -->
    <div class="title-container">
      <div class="title-text" [ngStyle]="{'color': theme === 'light' ? 'blue' : 'white'}"> <div [style.color]='colorTitle'> {{textTitle}} </div> </div>
    </div>
    <!-- Bouton à droite -->
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/icons/astrodidactIcon.png" alt="Astrodidact Icon" style="width: 34px; height: 34px;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
      <ng-container *ngIf="language === 'en'">
        <app-how-to-use-en></app-how-to-use-en>
      </ng-container>

      <ng-container *ngIf="language === 'fr'">
        <app-how-to-use-fr></app-how-to-use-fr>
      </ng-container>

    <div class="button-container">
      <ion-button class="oval-button" (click)="goHome()">{{textGoHome}}</ion-button>
    </div>
</ion-content>
