<div class="podium-container">
  <!-- Podiums 1er, 2e, 3e -->
  <div class="podium" id="gold">
    <div class="winner" id="winner-1">
      <div class="figure">
        <div class="head"></div>
        <div class="body"></div>
        <div class="arms">
          <div class="arm left"></div>
          <div class="arm right"></div>
        </div>
        <div class="legs">
          <div class="leg left"></div>
          <div class="leg right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="podium" id="silver">
    <!-- Second place figure -->
  </div>
  <div class="podium" id="bronze">
    <!-- Third place figure -->
  </div>
</div>


