:host {
  display: block;
  height: 100vh; /* Prend 100% de la hauteur de la vue */
}

.fullscreen {
  --background: transparent; /* Pas de fond gris par défaut */
  height: 100vh; /* Hauteur de la fenêtre */
  overflow: hidden; /* Empêche le défilement */
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit l'espace tout en préservant le ratio */
  position: absolute;
  top: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  top: 20px; /* Place le texte en haut à 20px du haut */
  left: 50%;
  transform: translateX(-50%); /* Centre le texte horizontalement */
  color:aqua; /* Changer la couleur du texte en bleu */
  font-size: 3rem; /* Taille de la police */
  white-space: nowrap; /* Empêche le texte de se décomposer sur plusieurs lignes */
}

.text-overlay span {
  display: inline-block;
  transition: opacity 0.5s; /* Durée de la transition à l'apparition */
  opacity: 0; /* Initialement invisible */
}

.fade-in {
  opacity: 1; /* Lorsqu'elle est visible */
}
