<app-initial-setup *ngIf="showInitScreen" (setupFinished)="onSetupFinished()"></app-initial-setup>

<div *ngIf="!showInitScreen" class="page-wrapper">
  <ion-header>
    <ion-toolbar>
      <div class="header-container">
        <div class="header-left">
          <ion-buttons slot="start">
            <ion-menu-button menu="sideMenu" autoHide="false"></ion-menu-button>
          </ion-buttons>
        </div>
        <div class="header-center">
          <div class="accountAndLevel">
            <div>{{ accountName }}</div>
            <div>{{ levelName }}</div>
          </div>
          <div class="chapter-title">{{ titleOfChapter }}</div>
        </div>
        <div class="header-right">
          <img src="assets/icons/astrodidactIcon.png" alt="Astrodidact Icon" class="header-image" />
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="page-wrapper">
    <ion-content>
      <div class="scroll-container">
        <div [ngClass]="getColorClass(item.nature)">
          {{ natureOfItem }}{{ item.question }}:
        </div>
        <app-response *ngIf="item.nature === 'r'"></app-response>
        <ng-container #dynamicComponentContainer></ng-container>
        <footer-question *ngIf="showFooter()"></footer-question>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <footer-app></footer-app>
      </ion-toolbar>
    </ion-footer>
  </div>
</div>























