<app-initial-setup *ngIf="showInitScreen" (setupFinished)="onSetupFinished()"></app-initial-setup>
<div *ngIf="!showInitScreen" class="page-wrapper">
  <ion-header>
    <ion-toolbar>
      <div class="header-container">
        <div class="header-left">
          <ion-buttons slot="start">
            <ion-menu-button menu="sideMenu" autoHide="false"></ion-menu-button>
          </ion-buttons>
        </div>
        <div class="header-center">
          <div class="accountAndLevel">
            <div>{{ textAccountName }}</div>
            <div>{{ textLevel }}</div>
          </div>
          <div class="chapter-title">{{ textTitleOfChapter }}</div>
        </div>
        <div class="header-right">
          <img src="assets/icons/astrodidactIcon.png" alt="Astrodidact Icon" class="header-image" />
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="page-wrapper">
    <ion-content>
      <div class="scroll-container">
        <div [ngClass]="getColorClass()"> {{ textNatureOfItem }}{{ textItemQuestion }}: </div>
        <ng-container #dynamicComponentContainer></ng-container>
        <app-response-good  *ngIf="showGoodResponse$  | async"></app-response-good>
        <app-response-false *ngIf="showFalseResponse$ | async"></app-response-false>
        <app-response       *ngIf="showResponse$      | async"></app-response> 
        <footer-question    *ngIf="showFooter$        | async"></footer-question>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <footer-app></footer-app>
      </ion-toolbar>
    </ion-footer>
  </div>
</div>























