<ion-content class="ion-padding">
  <!-- Étape 1 : Langue -->
  <div *ngIf="currentStep === 1">
    <ion-card>
       <img src="assets/images/splahScreen_BG_W.jpeg" >
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style="color:blue">Language</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       
        <div *ngFor="let lang of ['fr','en']"
             (click)="selectLanguage(lang)"
             [ngStyle]="getLanguageStyles(lang)">
          {{ lang === 'fr' ? 'Français' : 'English' }}
        </div>
        <ion-button expand="block" (click)="confirmLanguageSelection()">{{ textConfirmChoice }}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Étape 2 : Chapitre -->
  <div *ngIf="currentStep === 2">
    <ion-card>
       <img src="assets/images/splahScreen_BG_W.jpeg" >
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style="color:blue">{{textChooseChapter}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let chapter of chapters"
             (click)="selectChapter(chapter.num)"
             [ngStyle]="getChapterStyles(chapter)">
          {{chapter.num}}. {{chapter.name}}
        </div>
        <ion-button expand="block" (click)="confirmChapterSelection()">{{ textConfirmChoice }}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Étape 3 : Niveau -->
  <div *ngIf="currentStep === 3">
    <ion-card>
       <img src="assets/images/splahScreen_BG_W.jpeg" >
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style="color:blue">{{textChooseLevel}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       
        <div *ngFor="let lvl of levels"
             (click)="selectLevel(lvl.index)"
             [ngStyle]="getLevelStyles(lvl)">
          {{ lvl.name }}
        </div>
        <ion-button expand="block" (click)="confirmLevelSelection()">{{ textConfirmChoice }}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Étape 4 : Compte -->
  <div *ngIf="currentStep === 4">
    <ion-card>
      <img src="assets/images/splahScreen_BG_W.jpeg" >
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style="color:blue">{{textChooseCount}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let c of account"
             (click)="selectCount(c.num)"
             [ngStyle]="getCountStyles(c)">
          {{c.num}}. {{ c.name }}
        </div>
        <ion-button expand="block" (click)="confirmCountSelection()">{{ textConfirmChoice }}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



