<ion-content class="ion-padding">

  <!-- Étape 1 : Choix langue -->
  <div *ngIf="currentStep === 1">
    <ion-card>
      <img [src]="'assets/images/splahScreen_BG_W.jpeg'" alt="astroDidact-image" />
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style = 'color:blue'>Language</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

       <ion-list>
          <ion-item [class.active]="selectedLanguage === 'fr' " 
                    (click)="selectLanguage('fr')">
                          <ion-label style='color:#FF6F00 ' > Français</ion-label>
          </ion-item>
          <ion-item [class.active]="selectedLanguage === 'en' " 
                    (click)="selectLanguage('en')">
                          <ion-label style='color:#FF6F00 '> English</ion-label>
          </ion-item>
      </ion-list>       
      <ion-button (click)="confirmLanguageSelection()">{{ textConfirmChoice }}</ion-button>
   </ion-card-content>
  </ion-card>
</div>

  <!-- Étape 2 : Choix du chapitre -->
  <div *ngIf="currentStep === 2">
    <ion-card>
      <img [src]="'assets/images/splahScreen_BG_W.jpeg'" alt="astroDidact-image" />
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style = 'color:blue'>{{textChooseChapter}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
   <ion-list>
  <ion-item *ngFor="let chapter of chapters"
            (click)="selectChapter(chapter.num)"
            [ngClass]="{
              'active select': chapter.num === selectedChapter && chapterChoiceIsDone,
              'active noSelect': chapter.num === selectedChapter && !chapterChoiceIsDone,
              'noActive': chapter.num !== selectedChapter
            }">
    <ion-label style='color:#FF6F00 '>{{chapter.num}}.{{chapter.name}}</ion-label>
  </ion-item>


        </ion-list>
        <ion-button  (click)="confirmChapterSelection()">{{ textConfirmChoice}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Étape 3 : Sélection du niveau -->
  <div *ngIf="currentStep === 3">
    <ion-card>
      <img [src]="'assets/images/splahScreen_BG_W.jpeg'" alt="astroDidact-image" />
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style = 'color:blue'>{{textChooseLevel}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor = "let lvl of levels"
            [class.active] = "lvl.index === selectedLevel"
            (click)="selectLevel(lvl.index)">
              <ion-label style = 'color:#FF6F00 '>{{ lvl.name }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button  (click)="confirmLevelSelection()">{{ textConfirmChoice}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Étape 4 : Choix du compte -->
  <div *ngIf="currentStep === 4">
    <ion-card>
      <img [src]="'assets/images/splahScreen_BG_W.jpeg'" alt="astroDidact-image" />
      <ion-card-header>
        <ion-card-title>AstroDidact</ion-card-title>
        <ion-card-subtitle style = 'color:blue'>{{textChooseCount}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor = "let c of account"
            [class.active] = "c.num === selectedCount"
            (click)="selectCount(c.num)">
              <ion-label style = 'color:#FF6F00 '>{{c.num}}.{{ c.name }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button  (click)="confirmCountSelection()">{{ textConfirmChoice}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
